* {
	margin: 0;
	padding: 0;
	font-family: 'Work Sans', sans-serif;
}

.btn-primary,
.btn-secondary {
	font-weight: 600;
	font-size: 20px;
	padding: 16px 32px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
.btn-primary {
	background: #f15b22;
	color: #fff;
}

.btn-secondary {
	color: #f15b22;
}

/* header section */
.banner {
	background-color: gray;
	background-image: url(../images/banner/banner1.png);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.banner-contents {
	width: 500px;
	margin-right: 200px;
	text-align: right;
}
.banner-title {
	font-weight: 700;
	font-size: 65px;
	margin-bottom: 24px;
	color: #151414;
}
.description {
	margin-bottom: 32px;
	line-height: 26px;
	color: #444343;
}
.banner-contents .btn {
	background: #f15b22;
	color: #fff;
}

/* main section */
main {
	padding: 130px 200px;
}
.section-title {
	font-weight: 700;
	font-size: 40px;
	line-height: 47px;
	color: #151414;
	margin-bottom: 24px;
}

/* past shortcomings section styles */
.past-shortcomings {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 100px;
}
.shortcomings-contents {
	margin-right: 100px;
}
.shortcomings-contents .description {
	margin-bottom: 16px;
}
.shortcomings li {
	list-style: none;
	color: #444343;
	margin-bottom: 8px;
}
.shortcomings li i {
	margin-right: 8px;
}

/* my plans section styles */
.my-plans {
	margin-top: 130px;
	text-align: center;
}
.plans {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 50px;
}
.plan-title {
	font-weight: 700;
	font-size: 30px;
	margin: 24px 0 16px 0;
	color: #151414;
}
.plan-description {
	font-weight: 500;
	font-size: 25px;
	color: #737272;
}

/* book trial session section styles */
.trial-session-section {
	margin-top: 130px;
	height: 700px;
}
.trial-session-section .section-title {
	text-align: center;
	margin-bottom: 60px;
}

.trial-session-container {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

/* session results style */
.result-card {
	border-radius: 5px;
	padding: 22px;
	margin-bottom: 32px;
	width: 480px;
	background-color: #edf5f6;
}

.result-card:nth-child(2) {
	background-color: #ffeeee;
}
.result-card:nth-child(3) {
	background-color: #fff4d6;
}

.result-icon {
	font-size: 42px;
	margin-bottom: 16px;
	color: gray;
}
.result-title {
	font-size: 28px;
}
.result-description span {
	font-size: 38px;
	margin-right: 8px;
	color: #f15b22;
}

/* trial session booking form */
.trial-session-form {
	width: 500px;
	background-color: #f3f3f3;
	padding: 16px 32px;
	border-radius: 5px;
}
.trial-form-container,
.trial-form-container > label {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.trial-form-container input {
	margin: 10px 0 24px 0;
	padding: 16px;
	font-size: 18px;
	width: 470px;
	background-color: lightgray;
	border: none;
	border-radius: 5px;
}
.trial-form-container .btn-primary {
	width: 160px;
	background-color: #f15b22;
}

/* inspiration section styles */
.inspiration {
	margin-top: 130px;
	/* background: linear-gradient(90deg, #f15b22 0%, rgba(241, 91, 34, 0) 100%),
		url(../images/watch.png); */
	background: url(../images/gradient3.png), url(../images/watch.png);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: left;
	border-radius: 8px;
	padding: 60px 64px;
}
.inspiration .section-title {
	color: #fff;
	width: 460px;
}

/* footer styles */
footer {
	background-color: #151414;
	color: #fff;
	display: flex;
	justify-content: space-between;
	padding: 130px 200px;
}
footer .section-title {
	color: #f8f8f8;
	margin-bottom: 16px;
}
footer .description {
	color: #fff;
	margin-bottom: 24px;
}
.contact-info {
	width: 480px;
}
.phone-info {
	margin: 16px 0 32px 0;
}
.contact-icons a {
	margin-right: 18px;
	text-decoration: none;
}

.subscription {
	display: flex;
	flex-direction: column;
}
.subscription-title {
	font-weight: 600;
	font-size: 25px;
}
.subscription-form {
	display: flex;
	flex-direction: column;
}

.subscription-form input[type='email'] {
	margin: 32px 0 16px 0;
	padding: 16px;
	font-size: 18px;
	width: 325px;
	background-color: #151414;
	color: #f3f3f3;
	border: 1px solid #f3f3f3;
	border-radius: 5px;
}

.subscription-form .btn-secondary {
	width: 160px;
}
